.player {
    display: flex;
    align-items: center;
    background-color: rgba(128,128,128, 0.8);
    color: #552200;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 45vw;
    max-width: 300px;

    img {
        height: 70px;
        width: auto;
        object-fit: cover;
        border-radius: 100%;
    }

    span {
        font-size: 32px;
        margin-left: 16px;
    }
}

.player-active {
    background-color:#f1b700;
}