.start-screen {
    background-color: #404040;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 100%;
    }
}

.start-label-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15vh;
    display: flex;
    justify-content: center;

    img {
        width: 90%;
        height: auto;
        max-width: 400px;

        &:hover {
            filter: brightness(1.25);
            cursor: pointer;
        }
    }
}